img{
	width: 200px;
	height: 150px;
}

#gallery{
	overflow: hidden;
	width: 980px;
}


#gallery ul li{
	position: relative;
	display: block;
	list-style: none;
	float: left;
	margin: 10px 15px;
}