*{
	margin: 0;
	padding: 0;
}

body{
	position: relative;
	width: 350px;
	height: 210px;
	border: 2px solid #999999;
	border-collapse: separate;
	border-spacing: 10px;
	margin: 50px;
}


header{
	padding: 15px 15px;
	margin: 10px;
	background-color: #EEEEEE;
}

section{
	width: 60%;
	height: 50px;
	padding: 10px 15px;
	margin: 0 0 0 10px;
	background-color: #EEEEEE;
	float: left;
}

aside{
	height: 50px;
	padding: 10px 15px;
	margin: 0 0 0 10px;
	background-color: #EEEEEE;
	float: left;
}

footer{
	padding: 15px 15px;
	width: 85%;
	margin: 10px;
	float: left;
	background-color: #EEEEEE;
}
