
nav ul li{
	list-style: none;
	padding: 10px 15px;
	background-color: #d8dfea;
}

ul li a{
	text-decoration: none;
	color: black;
}

nav ul li{
	position: relative;
	display: block;
	float: left;
}

nav > ul > li ul{
	display: none
}


nav > ul > li li{
	width: 85px;
}

nav  ul  li:hover{
	background-color: white;
}

nav > ul > li:hover > ul{
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
}

nav > ul > li > ul li:hover > ul{
	position: absolute;
	display: block;
	top: 0;
	left: 65%;
}
